---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>

  <p>
    <strong>Catégorie :</strong> {{ page.category }}<br>
    <strong>Difficulté :</strong> {{ page.difficulty }}<br>
    <strong>Temps :</strong> {{ page.time }}<br>
    <strong>Nombre de convives:</strong> {{ page.number }}
  </p>

  {% if page.tags %}
    <p>
      <strong>Tags :</strong>
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}/">#{{ tag }}</a>
      {% endfor %}
    </p>
  {% endif %}

  {{ content }}
</article>
