---
layout: default
---

<h1>TAG : {{ page.tag }}</h1>
<p>Nombre total de recettes : {{ site.recettes | size }}</p>

<ul>
{% for r in site.recettes %}
  <li>{{ r.title }} → {{ r.tags | join: ", " }}</li>
{% endfor %}
</ul>

<h1>{{ page.title }}</h1>
<ul>
{% for recette in site.recettes %}
  {% if recette.tags contains page.tag %}
    <li>
      <a href="{{ site.baseurl }}{{ recette.url }}">
        {{ recette.title }}
      </a>
      <small>— {{ recette.time }}</small>
    </li>
  {% endif %}
{% endfor %}
</ul>
